.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 80%;
  padding: 1em;
  background-color: rgba(0, 0, 0, 0.466);
  font-family: "Bebas Neue", cursive;

  span {
    color: rgba(255, 255, 255, 0.527);
    letter-spacing: 3px;
  }
}

.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  width: 80%;

  h3 {
    color: #e84142;
    font-size: 0.9rem;
  }

  button {
    background-color: #0a7e50;
    font-size: 0.9rem;
    padding: 0.075em 1em;
    border-bottom: solid 0.15em rgba(9, 9, 36, 0.541);

    &:hover {
      border-bottom: solid 0.15em rgba(223, 223, 230, 0.541);
    }
  }
}
