.container {
  display: flex;
  flex-direction: column;
  background-color: #0a7e50;
  border: 1px solid #000000;
  width: 600px;
  margin: 0 auto;
  padding: 2rem;
  position: relative;
  font-family: "Bebas Neue", cursive;
}

.middleSection {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  padding: 2rem;
}

.gameContainer {
  width: 50%;
}

.infoSection {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.363);
  border-radius: 5px;
  padding: 0.3rem;
  width: 50%;

  h3 {
    font-size: 1.7rem;
  }

  span {
    letter-spacing: 0.1rem;
  }
}

.carousel {
  margin-top: 1rem;
}

.closeBtn {
  position: absolute;
  height: 35px;
  width: 35px;
  top: 10px;
  left: 10px;
  filter: invert(0%) sepia(100%) saturate(0%) hue-rotate(339deg) brightness(50%)
    contrast(60%);

  &:hover {
    cursor: pointer;
    filter: invert(0%) sepia(100%) saturate(0%) hue-rotate(339deg)
      brightness(94%) contrast(100%);
  }
}

@media screen and (max-width: 768px) {
  .container {
    width: 270px;
  }
  .middleSection {
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 0;
    padding: 0;
  }
  .gameContainer {
    width: 90%;
  }
  .infoSection {
    width: 100%;
  }
}
