.container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(1, 19, 10);
}

.logo {
  margin-left: 2em;
  transform: scale(0.91);
}

.bar {
  display: flex;
  align-content: center;
  justify-content: space-around;
  align-self: center;
  width: 70%;
  background-image: url("../assets/bar.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin: 0 auto;
}

.barContent {
  display: flex;
  align-content: center;
  justify-content: space-around;
  width: 88%;
  color: rgb(1, 19, 10);
  font-size: 1.2rem;
}
