.container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #11001e;
  font-family: "Bebas Neue", cursive;
}

.logo {
  margin-left: 3em;
  width: 20%;
  padding: 1.5rem;
}

.bar {
  display: flex;
  align-content: center;
  justify-content: space-between;
  align-self: center;
  width: 80%;
  background-image: url("../assets/bar.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin: 0 auto;
}
.navigation {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  padding: 0.5rem 0rem;
  color: black;
  box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.23);
}

.navigationMenu {
  margin: 0 auto;

  ul {
    display: flex;
    padding: 0;
    gap: 2rem;
  }

  li {
    list-style-type: none;
    margin: 0 1rem;
  }

  a {
    text-decoration: none;
    display: block;
    width: 100%;
    color: #11001e;
    font-size: 2.4rem;
    font-weight: 590;
  }
  .link {
    &:hover {
      cursor: pointer;
      animation: bounce 1s;
      color: #0a7e50;
    }
  }
}

.connectBtn {
  background-color: rgba(0, 0, 255, 0.336);
  color: rgba(255, 255, 255, 0.733);
  padding: 0;
  margin-right: 2rem;
  background-color: #0a7e50;
  font-size: 1.1rem;
  padding: 0.3em 1em;
  border-bottom: solid 0.15em rgba(9, 9, 36, 0.541);

  &:hover {
    color: #fff;
    border-bottom: solid 0.15em rgba(223, 223, 230, 0.808);
  }
}

.hamburger {
  border: 0;
  height: 40px;
  width: 40px;
  padding: 0.5rem;
  border-radius: 50%;
  background-color: #11001e;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  position: absolute;
  top: 50%;
  right: 25px;
  transform: translateY(-50%);
  display: none;
}
.hamburger:hover {
  background-color: #1d0430;
}

@media screen and (max-width: 1024px) {
  .hamburger {
    display: block;
  }
  .navigationMenu ul {
    display: none;
  }
  .connectBtn {
    margin-right: 5rem;
  }
}

@media screen and (max-width: 1024px) {
  .logo {
    margin-left: 10px;
    transform: scale(0.7);
  }
  .bar {
    background-image: none;
  }
  .navigationMenu ul {
    position: absolute;
    top: 37px;
    left: 0;
    flex-direction: column;
    width: 100%;
    height: calc(100vh - 77px);
    background-color: white;
    border-top: 1px solid black;
  }
  .navigationMenu li {
    text-align: center;
    margin: 0;
  }
  .navigationMenu li a {
    color: black;
    width: 100%;
    padding: 1.5rem 0;
    font-size: 1rem;
  }
  .navigationMenu li:hover {
    background-color: #eee;
  }
}

@media screen and (max-width: 1024px) {
  .navigationMenu.expanded ul {
    display: block;
  }
}

@keyframes bounce {
  0%,
  20%,
  60%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }

  80% {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
  }
}
