.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
  font-family: "Bebas Neue", cursive;
  margin-top: 1.5rem;
}

.typewriter {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  font-size: 2rem;
  text-align: center;
  color: #fff;
  width: 60%;
  margin-top: 2.1rem;
  margin-left: 1.5rem;

  h1 {
    font-size: 4.5rem;
    padding: 1rem;
    margin: 0;
  }

  h2 {
    font-size: 3rem;
    padding: 0;
    margin: 0;
    margin-bottom: 1rem;
  }

  span {
    color:#06D683;
  }
}

.typewriterMobile {
  display: none;
}

.trending {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: rgba(0, 0, 0, 0.336);
  padding: 1rem;
  margin-top: 3rem;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  color: #fff;
  width: 30%;

  h2 {
    margin: 0;
    font-size: 3rem;
  }

  p {
    display: flex;
    gap: 0.5em;
    margin: 0.5em;
    font-size: 1.5rem;
    text-align: center;
    align-items: center;
    align-content: center;

    span {
      font-size: 1.5em;
    }
  }
}

.mainContent {
  display: flex;
  justify-content: flex-end;
  margin-top: 3rem;
  margin-right: 10rem;
  gap: 4rem;
  width: 100%;
}

.console {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-top: 2rem;
  height: 22rem;
  width: 17rem;
}

.heroText {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: flex-start;
  color: #fff;

  h1 {
    font-size: 4.5rem;
    padding: 0;
    margin: 0;
    margin-bottom: 1rem;
    letter-spacing: 0.3rem;
  }

  p {
    text-align: center;
    font-size: 1.7rem;
    padding: 0;
    margin: 0;
  }

  .btnContainer {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 2rem;
  }

  button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    width: fit-content;

    &.getOnBtn {
      background-color: #0a7e50;
      font-size: 3rem;
      padding: 0.075em 1.5em;
      border-bottom: solid 0.15em rgba(9, 9, 36, 0.541);

      &:hover {
        border-bottom: solid 0.15em rgba(223, 223, 230, 0.541);
      }
    }

    &.getCheatsBtn {
      background-color: rgb(233, 35, 35);
      font-size: 2rem;
      padding: 0.075em 1em;
      border-bottom: solid 0.19em rgb(122, 17, 17);

      &:hover {
        border-bottom: solid 0.15em rgba(223, 223, 230, 0.541);
      }
    }
  }
}

@media screen and (max-width: 1143px) {
  .typewriterMobile {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    font-size: 1.5rem;
    text-align: center;
    color: #fff;
    width: 80%;
    background-color: rgba(0, 0, 0, 0.336);
    border-radius: 30px;
    margin-bottom: 2rem;
    padding: 1rem;
  }
  .trending {
    display: none;
  }
  .typewriter {
    display: none;
  }
  .mainContent {
    justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  .console {
    height: 18rem;
    width: 17rem;
  }
  .mainContent {
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 0;
  }
}
