.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: rgb(250, 235, 215);
  border-radius: 20px;
  padding: 1rem;
  gap: 1rem;
  font-family: "Bebas Neue", cursive;
  width: 200px;

  h3 {
    padding: 0;
    margin: 0;
  }

  h4 {
    padding: 0;
    margin: 0;
    text-align: center;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.815);
    word-wrap: break-word;
  }

  p {
    padding: 0;
    margin: 0;
    color: rgb(94, 94, 94);
    letter-spacing: 0.1em;
  }
}

.circleContainer {
  position: relative;
  display: flex;
  flex-direction: column;
}

.circle {
  align-self: center;
  width: 150px;
  filter: invert(35%) sepia(94%) saturate(617%) hue-rotate(113deg)
    brightness(85%) contrast(92%);
}

.number {
  position: absolute;
  font-size: 7rem;
  left: 37%;
  top: 10%;
  color: rgba(0, 0, 0, 0.884);
}

.bar {
  align-self: center;
  border: 2px solid rgba(0, 0, 0, 0.788);
  width: 80%;
}

.timeframe {
  color: #f72359;
  letter-spacing: 0.1em;
}
